{% comment %}
    Loads onboarding no content block, no arguments required

    Usage:
    {% render 'no-blocks' %}
{% endcomment %}

<div class="placeholder-noblocks" data-prevent-transparent-header>
  {{ 'homepage.onboarding.no_content' | t }}
</div>
