.featured-collection--carousel {
    display: flex;
}
.featured-collection--carousel .featured-collection__title {
    width: 25%;
    z-index: 9;
    background: #fafafa;
}
.featured-collection--carousel .wrapper.wrapper--full {
    width: 75%;
}
.featured-collection--carousel .featured-collection__title .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.featured-collection h2.section__heading {
    margin-bottom: 20px;
    text-transform: uppercase;
}
.featured-collection--carousel .btn--view-all {
    margin-top: 20px;
}
.featured-collection--grid .btn--view-all {
    margin-top: 0px;
    margin-bottom: 50px;
}
.featured-collection--grid p.section_desc {
    display: none;
}

.text-section .wrapper.bg_enabled {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.text-section .wrapper {
    display: flex;
    width: 100%;
}
.text-section .wrapper.bg_enabled .text__wrapper {
    display: block;
    padding: 60px;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.text-section .wrapper.bg_enabled .image__content__wraper, .text-section .wrapper.bg_enabled .text__image__wrapper, .text-section .wrapper.bg_enabled .image__content__wraper a {
    width: 100%;
    height: 100%;
}
.text-section .wrapper .text__wrapper, .text-section .wrapper .image__content__wraper {
    width: 50%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.text-section .wrapper.text_image_left.bg_enabled .image__content__wraper {
    padding-right: 60px;
    order: -1;
}
.text-section .wrapper .text__wrapper .text__subheading {
    line-height: 1.25;
    margin-bottom: 20px;
}
.text-section .wrapper .text__wrapper .text__content {
    margin-bottom: 50px;
}
.text-section .wrapper .image__content__wraper {
    padding-left: 60px;
}
.wrapper .image__content__wraper img {
    width: 100%;
    height: 100%;
}
.text__mobile_image__wrapper {
    display: none;
}
ul.splide__pagination.splide__pagination--ttb {
    display: none;
}
.image-accordion__text.slide__text__container .slide__text__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 700px;
}
.image-accordion__text.slide__text__container .slide__text__wrapper h2.right-heading {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
h2.right-heading {
    display: flex;
    justify-content: space-between;
}
.image-accordion-content {
    margin-top: auto;
    margin-bottom: auto;
}
.column__item__text.rte {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
div#SectionColumns--template--15879765393597__16637792522013ab25 .column__item__text.rte {
    -webkit-line-clamp: initial;
}
.column__item__text.rte p {
    display: inline;
}
.read_more, .read_less {
    display: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: underline;
}
div#SectionColumns--template--15879765393597__16637792522013ab25 .read_more {
    display: none !important;
}
.featured-image__bg {
    display: block;
}
.mobile_featured-image__bg {
    display: none;
}
.template-collection a.product-grid-item__title {
    font-size: var(--product_title_desktop);
}
#plant-venom .wrapper.wrapper--full.vertical-padding.slider.slider--slide.original-height, #special-formulas .wrapper.wrapper--full.vertical-padding.slider.slider--slide.original-height {
    margin-bottom: 0;
}
#\31 00-petal-rosewater .wrapper.wrapper--full.vertical-padding.slider.slider--slide.original-height {
    margin-bottom: 0;
}
#toner-ish .wrapper.wrapper--full.vertical-padding.slider.slider--slide.original-height {
    margin-bottom: 0;
}
#flower-hazel .wrapper.wrapper--full.vertical-padding.slider.slider--slide.original-height {
    margin-bottom: 0;
}
.byob-quickview-title {
    text-transform: capitalize;
}
.carousel--inactive {
    text-align: left;
    justify-content: start;
}
.text__heading.h2 {
    margin-bottom: 16px;
}
.main-buttons__item {
    margin: 10px 0 0;
}
span.cart-drawer__item-qty.hidden {
    display: none;
}
#travel-size-minis .product__media__outer {
    padding-top: 100%;
}

@media screen and (min-width:1024px) {
    div#Slideshow--template--15879764934845__92ba8d4c-e2f8-464f-9b92-7e356b184632, div#SectionColumns--template--15879764934845__1656534534e35b4f23 {
        margin-bottom: 0;
    }
    .four-fifty-height {
        height: 100%;
        min-height: 450px !important;
    }
    h1.slide__heading.main-heading {
        position: relative;
    }
    .text-reveal__cropper-2 {
        position: absolute;
        top: 0px;
        right: -25px;
    }
    sup {
        font-size: 55%;
        line-height: 1;
    }
    .collection__filters-wrapper {
        padding-top: 0% !important;
    }
    section.brick__section {
        margin-bottom: 0 !important;
    }    
    i.fa.fa-caret-down {
        transform: rotate(90deg);
    }
    .is-expanded .image-accordion__text.slide__text__container .slide__text__wrapper h2.right-heading {
        display: none;
    }
    .image-accordion__text.slide__text__container.aos-init.aos-animate {
        opacity: 1 !important;
    }
    .image-accordion:not(.is-expanded) .slide__text__wrapper .image-accordion-content {
        display: none;
    }
    .image-accordion:not(.is-expanded) .slide__text__wrapper {
        opacity: 1;
    }
    .aos-initialized .image-accordion [data-aos=come-up].aos-init {
        opacity: 1;
        transform: translateY(0);
    }
    .featured-collection--carousel .featured-collection__title .wrapper {
        padding-right: 0%;
    }
}
.show_only_mobile {
    display: none;
}
.btn-add-to-bundle {
    min-width: 120px;
}
section#Text--template--15879764934845__f5bf480d-0fd7-4062-8d43-74b034f78853 {
    margin-top: 30px;
}
@media screen and (max-width: 1024px) {
    h1.slide__heading.main-heading {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width:767px) {
    div#SectionColumns--template--15879764869309__c7296a52-09c6-42b2-9668-e3af348a1742,
    section#brick-section--template--15879764869309__b6f5bf47-69a1-4992-8c11-554ebaeaa86d {
        margin-bottom: 0;
    }
    section#brick-section--template--15879764869309__b6f5bf47-69a1-4992-8c11-554ebaeaa86d .vertical-padding {
        padding-bottom: 0%;
    }
    div#SectionColumns--template--15879764869309__c7296a52-09c6-42b2-9668-e3af348a1742 .section-columns__wrapper.no-carousel-mobile .column__item {
        margin-bottom: 0;
    }
    div#shopify-section-template--15879764869309__16632641343e60bbea {
        padding-top: 10px;
    }
    .align--bottom-right .main-buttons {
        justify-content: right;
    }
    .align--bottom-right .main-buttons a {
        text-align: right;
    }
    .align--bottom-left .main-buttons a {
        text-align: left;
    }
    .flickity-page-dots {
        width: calc(100% - 40px);
    }
    .flickity-page-dots .dot {
        border: solid 2px #000 !important;
    }
    .text-section .wrapper .text__wrapper .text__content {
        margin-bottom: 30px;
    }
    span.mosaic__item__btn.btn.btn--text {
        margin-top: 0;
    }
    h1.slide__heading.main-heading {
        display: flex;
        justify-content: flex-start;
    }
    .rich-text--no-image {
        padding: 0%;
    }
    .brick__block__inner {
        padding: 0%;
    }
    .section-columns__wrapper.no-carousel-mobile .column__item {
        margin-bottom: 0%;
    }
    .text-section .wrapper, .text-section .wrapper.bg_enabled {
        display: block;
    }
    .text-section .wrapper.bg_enabled {
        text-align: center;
    }
    .text-section .wrapper .text__wrapper, .text-section .wrapper .image__content__wraper {
        width: 100%;
        padding: 0%;
    }
    .text-section .wrapper .image__content__wraper {
        margin-top: 20px;
    }
    .wrapper .image__content__wraper img {
        width: 100%!important;
    }
    .show_on_mobile {
        display: block;
    }
    .hide_on_mobile {
        display: none;
    }
    .image-accordions {
        overflow: visible!important;
        height: 80vh;
    }
    .image-accordion {
        width: 100%;
        padding: 0px!important;
    }
    .slide__text__container {
        position: relative;
    }
    .item--center .slide__text__container, .item--left .slide__text__container, .item--right .slide__text__container {
        display: block;
    }
    .aos-initialized [data-aos=come-up], .aos-initialized [data-aos^=fade][data-aos^=fade] {
        transform: translateY(0);
        opacity: 1;
    }
    .featured-collection--carousel {
        display: block;
    }
    .featured-collection--carousel .featured-collection__title, .featured-collection--carousel .wrapper.wrapper--full {
        width: 100%;
    }
    .featured-collection--carousel .featured-collection__title {
        margin-bottom: 30px;
    }
    .best-seller-collection-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .featured-collection--carousel .btn--view-all {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .featured-collection h2.section__heading {
        margin-bottom: 0;
    }
    h2.image-accordion__text__content.main-text {
        font-size: 18px;
    }
    .image-accordion__text.slide__text__container .slide__text__wrapper h2.right-heading {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }
    .image-accordion__text.slide__text__container .slide__text__wrapper {
        flex-direction: column;
        height: 100%;
    }
    .image-accordion__text.slide__text__container {
        height: 100%;
    }
    .accordion__item__title__text {
        font-size: 18px;
        font-weight: normal;
    }
    .hide_desk {
        display: none;
    }
    .mobile_featured-image__bg {
        display: block;
    }
    .mobile--center {
        justify-content: center;
        align-items: center;
    }
    .mobile--left {
        justify-content: center;
        align-items: flex-start;
    }
    .mobile--right {
        justify-content: center;
        align-items: flex-end;
    }
    .mobile--bottom-left {
        justify-content: end;
        align-items: flex-start;
    }
    .mobile--bottom-right {
        justify-content: end;
        align-items: flex-end;
    }
    .mobile--top-left {
        justify-content: start;
        align-items: flex-start;
    }
    .mobile--top-right {
        justify-content: start;
        align-items: flex-end;
    }
    .show_only_mobile {
        display: block;
    }
    p.lb-price-wrapper {
        display: none;
    }
    .btn-add-to-bundle {
        line-height: 1;
    }
    section#Text--template--15879764869309__1658853987e12cad3f {
        margin-top: 30px;
    }
    section#Text--template--15879764934845__f5bf480d-0fd7-4062-8d43-74b034f78853 .text__content.aos-init.aos-animate p:first-child {
        margin-bottom: 20px;
    }
}
#cart-drawer [docapp-data-cart-item] .cart__item__image a {
   height: auto;
}